.btn {
	display: block;
	text-align: center;
	height: 40px;
	padding: 0 20px;
	font-size: 14px;
	color: $blazeOrange;
	font-weight: 600;
	line-height: 38px;
	background-color: $white;
	border: 1px solid $blazeOrange;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	@include shift;
	&.btn {
		&--transparent {
			&-white {
				color: $white;
				background-color: transparent;
				border-color: $white;
				@include shift;
				&:hover {
					color: $blazeOrange;
					background-color: $white;
				}
			}
		}
		&--round {
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}	
		&--inline {
			display: inline-block;
		}
	}
}