.header-nav {
	&__list {
		display: flex;
		align-items: center;
		& > * {
			&:not(:last-child) {margin-right: 30px;}
		}
	}
	&__link {
		font-size: 12px;
		line-height: 1.67;
		color: $tundora;
	}
}