.main-nav {
	&__list {
		display: flex;
		align-items: center;
		position: relative;
		& > * {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
		&:hover {
			.main-nav {
				&__dropdown {
				display: block;
				}
				&__link {
					border-bottom: 2px solid $blazeOrange;
				}
			}
		}
	}
	&__link {
		display: block;
		padding: 15px 0;
		font-size: 16px;
		line-height: 1.88;
		font-weight: 600;
		color: $tundora;	
		border-bottom: 2px solid transparent;
		@include shift();
		&:hover {
			border-bottom: 2px solid $blazeOrange;
		}
	}
	&__icon{
		fill: $tundora;
		margin-left: 10px;
		width: 8px;
		height: 12px;
	}
	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}
}

