.s-hits {
	padding-bottom: 0;
	@include desktop {
		padding-bottom: 20px;
	}
}
.hits {
	&-navigation {
		display: flex;
		align-items: center;
		& > * {
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
		&__item {
			height: 50px;
			flex: 1;
			line-height: 48px;
			min-width: 150px;
			border-bottom: 2px solid $alto;
			text-align: center;
			&.tabs-navigation__item--active {
				border-bottom: 2px solid $blazeOrange;
			}
			&:hover {
				border-bottom-color: $blazeOrange;
			}
		}
	}
	&__body {
		margin-top: 20px;
	}
}