.hits {
	&-navigation {
		display: flex;
		align-items: center;
		&__item {
			height: 50px;
			flex: 1;
			& > * {
				&:not(:last-child) {
					margin-right: 30px;
				}
			}
			line-height: 48px;
			border-bottom: 2px solid $alto;
			text-align: center;
			&.tabs-navigation__item--active {
				border-bottom: 2px solid $blazeOrange;
			}
		}
	}
	&__body {
		margin-top: 20px;
	}
}