extends ../main-layout

block variables
	- var title = 'Бренды'
	- var pageClass = 'brands-page'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="index.html") Главная
				li.breadcrumbs__item
					span.breadcrumbs__current Бренды
	section.s-brends
		.container
			.brands
				h1.brands__title.title-page Бренды
				ul.brands__list
					each brand in [{img:'puky',name:'PUKY',link:'brand.html'},{img:'micro',name:'Micro',link:'brand.html'},{img:'hudora',name:'HUDORA',link:'brand.html'},{img:'strider',name:'Strider',link:'brand.html'},{img: 'scool',name:'Scool',link:'brand.html'},{img:'merida',name:'Merida',link:'brand.html'},{img:'puky',name:'PUKY',link:'brand.html'},{img:'micro',name:'Micro',link:'brand.html'},{img:'hudora',name:'HUDORA',link:'brand.html'},{img:'strider',name:'Strider',link:'brand.html'},{img: 'scool',name:'Scool',link:'brand.html'},{img:'merida',name:'Merida',link:'brand.html'},{img:'puky',name:'PUKY',link:'brand.html'},{img:'micro',name:'Micro',link:'brand.html'},{img:'hudora',name:'HUDORA',link:'brand.html'},{img:'strider',name:'Strider',link:'brand.html'},{img: 'scool',name:'Scool',link:'brand.html'},{img:'merida',name:'Merida',link:'brand.html'},{img:'puky',name:'PUKY',link:'brand.html'},{img:'micro',name:'Micro',link:'brand.html'},{img:'hudora',name:'HUDORA',link:'brand.html'},{img:'strider',name:'Strider',link:'brand.html'},{img: 'scool',name:'Scool',link:'brand.html'},{img:'merida',name:'Merida',link:'brand.html'}]
						li.brands__item
							a.brand(href=brand.link)
								img(src=`static/img/brands/${brand.img}.jpg`, alt="brand logo").brand__img
								span.brand__name=brand.name
			.content-block
				h3.title-block Сео текст по брендам 
				p.text
					| Купить беговел можно в нашем интернет-магазинеюю Это обойдется не дорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским нормам безопасности.
				p.text
					| Интернет-магазин обслуживает покупателей из всех районов России. Можно покупать товар партиями или поштучно. Доставка осуществляется в кротчайшие срокине зависимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации.  