extends ../main-layout

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/banner/banner.pug
	include index/advantages/advantages.pug
	include index/hits/hits.pug
	include index/information/information.pug
	include index/about/about.pug