extends ../main-layout

block title
	| Baby Toys
block content
	include ../modules/header/header.pug
	include index//banner/banner.pug
	include index/advantages/advantages.pug
	include index/hits/hits.pug