extends ../main-layout

block variables
	- var title = 'Беговел Puky Pukylino'
	- var pageClass = 'product-page'

block content
	.breadcrumbs
			.container
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="index.html") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="index.html") Каталог
					li.breadcrumbs__item
						a.breadcrumbs__link(href="index.html") Беговелы
					li.breadcrumbs__item
						a.breadcrumbs__link(href="index.html") Беговелы Puky
					li.breadcrumbs__item
						span.breadcrumbs__current Puky
	section.s-product
		.container
			.product
				.product__header
					include product/slider
					include product/info
				.product__body
					include product/details
	include index/advantages/advantages
	include product/goods
	include category/content