.logo {
	&__img {
		height: 25px;
	}
}
.advantages {
	padding: 20px;
	border-radius: 4px;
	background-color: $parselayn;
	@include desktop {
		padding: 20px 40px;
	}
}
.advantage {
	display: flex;
	align-items: center;
	& > * {
		&:not(:last-child) {
			margin-right: 180px;
		}
	}
	@include desktop {
		& > * {
		&:not(:last-child) {
			margin-right: 0;
		}
	}
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		text-align: center;
	}
	&__item {
		display: flex;
		align-items: center;
		@include desktop {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: center;
		            align-items: center;
		    margin-right: 0;
		}
	}
	&__icon {
		@include size(50px);
		fill: $dustyGray;
		margin-right: 20px;
		@include desktop {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 18px;
		line-height: 24px;
	}
	&__descr {
		font-size: 12px;
		line-height: 24px;
		color: $midGray;
	}
}
.s-light-bg {
	background-color: $parselayn;
}
.about {
	display: flex;
	@include desktop {
		flex-direction: column;
	}
	& > * {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__body {
		flex: 1;
		@include desktop {
			order: 2; 
		}
		.tab {
			& > * {
				margin: 15px 0;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&-navigation {
		flex: 0 0 255px;
		@include desktop {
			display: flex;
			flex: 1;
			width: 100%;
			order: 1;
			margin-bottom: 30px; 
		}
		& > * {
			@include desktop {
				flex: 1;
			}
			&:not(:last-child) {
				margin-bottom: 10px;
				@include desktop {
					margin-right: 30px;
				}
			}
		}
		&__item {
			height: 50px;
			padding-left: 10px;
			line-height: 48px;
			border-bottom: 2px solid $alto;
			text-align: left;
			@include desktop {
				padding-left: 0;
			}
			&.tabs-navigation__item--active {
				border-bottom: 2px solid $blazeOrange;
			}
		}
	}
}
.text {
	line-height: 25px;
}
.sandwich {
	display: block;
	height: 16px;
	width: 20px;
	position: relative;
	cursor: pointer;
	&--active {
		.sandwich__line {
			&--top {
				top: 7px;
				transform: rotate(45deg);
			}
			&--middle {opacity: 0;}
			&--bottom {
				top: 7px;
				transform: rotate(-45deg);
			}
		}
	}
	&__line {
		display: block;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		@include shift;
		background-color: $white;
		&--top {top: 0}
		&--middle {top: 7px}
		&--bottom {top: 14px;}
		
	}
}