nav.header__main-nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="category.html") Самокаты
			include main-nav-dropdown 
		li.main-nav__item
			a.main-nav__link(href="category.html") Беговелы
		li.main-nav__item
			a.main-nav__link(href="category.html") Велосипеды
		li.main-nav__item
			a.main-nav__link(href="category.html") Ролики
		li.main-nav__item
			a.main-nav__link(href="category.html") Скейты
		li.main-nav__item
			a.main-nav__link(href="category.html") Батуты
		li.main-nav__item
			a.main-nav__link(href="category.html") Аксессуары
		li.main-nav__item
			a.main-nav__link(href="category.html") Еще
			+icon('down-arrow', 'main-nav__icon')