nav.header__main-nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="#") Самокаты
			include main-nav-dropdown 
		li.main-nav__item
			a.main-nav__link(href="#") Беговелы
		li.main-nav__item
			a.main-nav__link(href="#") Велосипеды
		li.main-nav__item
			a.main-nav__link(href="#") Ролики
		li.main-nav__item
			a.main-nav__link(href="#") Скейты
		li.main-nav__item
			a.main-nav__link(href="#") Батуты
		li.main-nav__item
			a.main-nav__link(href="#") Аксессуары
		li.main-nav__item
			a.main-nav__link(href="#") Еще
			+icon('down-arrow', 'main-nav__icon')