.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Взрослые самокаты
					+icon('right-arrow', 'catalog-nav__icon')
				ul.catalog-nav__list
					each item in main_subnav
						li.catalog-nav__item
							a.catalog-nav__link(href="#")= item
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Детские самокаты
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Городские самокаты
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Складные самокаты
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Трюковые самокаты
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Электросамокаты
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Самокаты с двумя амортизаторами
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Самокаты Globber
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Самокаты Micro
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Самокаты оот года
					+icon('right-arrow', 'catalog-nav__icon')
			li.catalog-nav__item
				a.catalog-nav__link(href="#")
					span.catalog-nav__text Самокаты Puky
					+icon('right-arrow', 'catalog-nav__icon')