.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.main-subnav__list
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Взрослые самокаты
					+icon('right-arrow', 'main-subnav__icon')
				ul.main-subnav__list
					each item in main_subnav
						li.main-subnav__item
							a.main-subnav__link(href="#")= item
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Детские самокаты
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Городские самокаты
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Складные самокаты
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Трюковые самокаты
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Электросамокаты
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Самокаты с двумя амортизаторами
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Самокаты Globber
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Самокаты Micro
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Самокаты оот года
					+icon('right-arrow', 'main-subnav__icon')
			li.main-subnav__item
				a.main-subnav__link(href="#")
					span.main-subnav__text Самокаты Puky
					+icon('right-arrow', 'main-subnav__icon')