.search {
	position: relative;
	@include laptops {
		flex: 1;
	}
	&.search--open {
		.search__body {
			display: block;
		}
	}
	&__icon {
		fill: $blazeOrange;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	&__body {
		display: none;
		position: absolute;
		top: -35px;
		right: 0;
		width: 550px;
		padding: 20px;
		background-color: $white;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.21), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	}
	&__form {
		display: flex;
		align-items: center;
	}
	&__input {
		width: 100%;
		height: 50px;
		padding: 0 50px 0 20px;
		line-height: 48px;
		color: $tundora;
		border: 1px solid $alto;
		border-right: 0;
		border-radius: 2px 0 0 2px;
		background-color: transparent;
		&::palceholder {
			columns: $placeholderColor; 
		}
		&-wrapper {
			flex: 1;
			position: relative;
		}
	}
	&__clear {
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		&-icon {
			width: 16px;
			height: 16px;
			fill: rgba(75, 75, 75, 0.5);
		}
	}
	&__btn {
		flex: 0 0 auto;
		padding: 0 15px;
		color: $white;
		height: 50px;
		border: 0;
		font-weight: 700;
		background-color: $blazeOrange;
		border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		-ms-border-radius: 0 4px 4px 0;
		-o-border-radius: 0 4px 4px 0;
		cursor: pointer;	
	}
}