.header__mobile {
	display: none;
	position: relative;
	box-shadow: 0 1px 3px 0 rgba(38, 38, 38, 0.5), inset 0 -1px 0 0 #eef2f4;
	@include desktop {
		display: block;
	}
	.container {
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
        justify-content: space-between;
		& > * {
			flex: 0 0 48%;
			width: 48%;
			@include tablets {
				flex: 0 0 auto;
				width: auto;
			}
		}
		@include tablets {
			justify-content: flex-start;
			padding: 0;
		}
	}
	.search {
		@include tablets {
			display: none;
		}
	}
	.mobile-menu {
		&__toggle {
			@include tablets {
				@include size(50px);
				margin-right: 30px;
				background-color: $white;
				border-right: 1px solid rgba(75, 75, 75, 0.2);
				.sandwich {
					&__line {
						background-color: $tundora;
					}
				}
				.mobile-menu {
					&__title {
						display: none;
					}
				}
			}
		}
	}
}
.mobile {
	&__logo {
		display: none;
		@include tablets {
			display: block;
		}
	}
}