.header {
	&__mobile {
		display: none;
		position: relative;
		@include desktop {
			display: block;
		}
		.container {
			display: flex;
			-webkit-align-items: center;
			        align-items: center;
			& > * {
				&:not(:last-child) {
				margin-right: 50px;
				}
			}
		}
	}
}