.products-line-slider
	.js-products-line-slider
		include ../../../../modules/products/prev-2.pug
		include ../../../../modules/products/prev-2.pug
		include ../../../../modules/products/prev-1.pug
		include ../../../../modules/products/prev-1.pug
	.products-line-slider__navigatio
		.products-line-slider__btn.products-line-slider__btn--prev
			+icon("arrow-left","products-line-slider__icon")
		.products-line-slider__dots
		.products-line-slider__btn.products-line-slider__btn--next
			+icon("arrow-right","products-line-slider__icon")