.products-line-slider
	.js-products-line-slider
		include ../../../../modules/products/prev-2.pug
		include ../../../../modules/products/prev-1.pug
		include ../../../../modules/products/prev-1.pug
		include ../../../../modules/products/prev-2.pug