section.s-banner
	.container
		.banner
			.banner__navigation.banner__navigation--prev
				+icon('left-arrow', 'banner__navigation-icon')
			.banner__navigation.banner__navigation--next
				+icon('right-arrow', 'banner__navigation-icon')
			.js-banner
				.banner__item
					.banner__content
						.banner__body
							span.banner__title Беговелы
							span.banner__descr Отличный подарок для детей от 1 года
							a.btn(href="#") Выбрать
						.banner__img-wrapper
							img(src="static/img/banner.png", alt="banner").banner__img
				.banner__item
					.banner__content
						.banner__body
							span.banner__title Беговелы
							span.banner__descr Отличный подарок для детей от 1 года
							a.btn(href="#") Выбрать
						.banner__img-wrapper
							img(src="static/img/banner.png", alt="banner").banner__img