.header__top
	.container
		.header__content
			nav.header__nav.header-nav
				ul.header-nav__list
					each item in header_nav
						li.header-nav__item
							a.header-nav__link(href="#")=item
			nav.header__nav.header__nav--right.header-nav
				ul.header-nav__list
					each item in ["Регистрация", "Вход"]
						li.header-nav__item
							a.header-nav__link(href="#")=item