.header__top
	.container
		.header__content
			nav.header__nav.inform-nav
				ul.inform-nav__list
					each item in header_top
						li(class=item.mod).inform-nav__item
							a.inform-nav__link(href=item.link)=item.name
					li.inform-nav__tablet-toggle
						+icon('dots','inform-nav__tablet-icon')
						.inform-subnav
							.inform-subnav__arrow
							ul.inform-subnav__list
								each item in ['Акция', 'Оптовикам', 'Новости', 'Гарантии']
									li.inform-subnav__item
										a(href='').inform-subnav__link=item
			nav.header__nav.header__nav--right.inform-nav
				ul.inform-nav__list
					each item in ["Регистрация", "Вход"]
						li.inform-nav__item
							a.inform-nav__link(href="#")=item