.header__menu
	.container
		.header__content
			include ../navigation/main-nav.pug
			.header__search.search
				+icon('search', 'search__icon')
				.search__body
					form.search__form(action="")
						.search__input-wraper
							input(type="text" placeholder="Я хочу купить").search__input
							.search__clear
								+icon('close', 'search__clin')
						input(type="submit" value="Найти").search__btn