// ЦВЕТА
$main-shaft: #262626;
$bgTop: #eef2f4;
$tundora: #4b4b4b;
$silverChalice:#a9a9a9;
$blazeOrange: #ff6d00;
$wildSand: #f6f6f6;
$white: #fff;
$black: #000;
$silver: #ccc;
$alto: #dddddd;
$placeholderColor: #a6a6a6;
$midGray: #6e6e6f;
$dustyGray: #999999;
$parselayn: #f6f8f9;
 

// РАЗМЕРЫ
$baseFontSize: 14px;
$contentSize: 1140px;


// ШРИФТЫ
$mainFont: "Open Sans", Arial, sans-serif;