.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrapper(data-color="#000000")
				img(src="static/img/banner2.png", alt="Велосипед").product-prev__img
			.product-prev__img-wrapper(data-color="#ffffff")
				img(src="static/img/puky/hudora-green.png", alt="Велосипед").product-prev__img
	.product-prev__body
		.product-prev__info
			spna.product-prev__title Беговел Puky LR Ride алюминевый
			span.product-prev__country Германия
		.product-prev__price
			span.product-prev__price-current 17 990 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину